# Pandas (Series data structure)

Series Data Structure
it is one of the core data structure in pandas. You can think of them as a cross between list and dictionary. The items are stored in order and there is labels with which you can retrieve them.

In [5]:
import pandas as pd
#initialting list
a=['amit','rohit','sumit','karan']
#converting it into series data structure
b=pd.Series(a)
print(b)
#pandas automatically assigns index starting from zero

0     amit
1    rohit
2    sumit
3    karan
dtype: object

Note:Underneath Pandas store series values in a typed array using numpy library.

In [7]:
a=[1,2,None]
b=pd.Series(a)
print(b)
#pandas store None as NaN (Not a number)
#NaN is a float underneath, thats why all other integers are also typecasted into float.

0    1.0
1    2.0
2    NaN
dtype: float64

Note: If our Integers in a series gets converted to float, may be there are missing values in the series.

Creating series from dictionary

In [18]:
#when converting dictionary to series, key will be the index
d={'a':1,'b':2, 'c':3}
e=pd.Series(d)
print(e)

#fetching index only
print(e.index)

a    1
b    2
c    3
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [34]:
#defining series manually
s=pd.Series([1,2,3],index=['a','b','c'])
print(s)


#changing index explicitly
d={'a':1,'b':2, 'c':3}
t=pd.Series(d, index=['c','a','b'])
print(t)

a    1
b    2
c    3
dtype: int64
c    3
a    1
b    2
dtype: int64

Qyerying a series

In [37]:
#querying third entry
#using index number (starts with zero)
t.iloc[2]

#using actual index
t.loc['a']

1

Note: iloc and loc are not functions, they are attributes so we use square brackets not parenthesis to query them.

In [40]:
#other ways of querying
#this practices should be avoided. It can cause problem when index are also numbers. Always use iloc and loc
t[0]


t['a']

1

Working with Data

In [53]:
grades=pd.Series([20,30,40,50,60,70,70])

sum=grades.sum()
min=grades.min()
max=grades.max()
mean=grades.mean()
mode=grades.mode()

20

In [57]:
#defining series with random numbers
import numpy as np
s=pd.Series(np.random.randint(0,100,150))
print(s)

0      79
1      77
2      83
3      31
4      44
       ..
145    43
146    62
147    98
148    15
149    32
Length: 150, dtype: int32

Broadcasting: Applying an operation to every value of the series

In [60]:
#adding to all the numbers
print(s+2)
print(s*2)

0       81
1       79
2       85
3       33
4       46
      ...
145     45
146     64
147    100
148     17
149     34
Length: 150, dtype: int32
0      158
1      154
2      166
3       62
4       88
      ...
145     86
146    124
147    196
148     30
149     64
Length: 150, dtype: int32

In [61]:
#adding or modifying values using loc iloc attributes
s.iloc[0]=1000
print(s)

0      1000
1        77
2        83
3        31
4        44
       ...
145      43
146      62
147      98
148      15
149      32
Length: 150, dtype: int32

Note: when keys are repeated in the series

In [72]:
t=pd.Series([1,2,3],['a','a','c'])
t.loc['a']

a    1
a    2
dtype: int64

Appending series

In [74]:
t=pd.Series([1,2,3],['a','a','c'])
q=pd.Series([4,5,6],['d','e','f'])
s=t.append(q)
print(s)

a    1
a    2
c    3
d    4
e    5
f    6
dtype: int64

# Series datatype can be used in many ways for series manipulation instead of using conventional for loops.